<%- include('partials/header') %>

<div class="ui container main big text segment">
  <div class="ui huge header">
    Edit Post
  </div>
  <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="post">
    <div class="feilds">
      <label>Title</label>
      <input type="text" name="blog[title]" required value="<%= blog.title %>">
    </div>
    <div class="feilds">
      <label>Image</label>
      <input type="text" name="blog[image]" required value="<%= blog.image %>">
    </div>
    <div class="feilds">
      <label>Content</label>
      <textarea name="blog[body]" rows="8" cols="80" required><%- blog.body %></textarea>
    </div><br>
    <div class="feilds">
      <button class="ui black basic big button" type="submit">Edit</button>
      <a class="ui blue basic big button" href="/blogs/<%= blog._id %>">Back</a>
    </div>
  </form>

</div>


<%- include('partials/footer') %>
